@using Pachkoriya_HW09.Components;
@{
    ViewData["Title"] = "Автобус";
}

<main class="container">
    <section class="row">
        <article class="offset-1 col-10 bg-light">
            <div class="btn-group" role="group" aria-label="Basic example">
                <a class="btn btn-primary" asp-controller="Bus" asp-action="SortPassengersBySeatNumber">
                    Упорядочивание пассажиров по номеру места
                </a>
                <a class="btn btn-primary" asp-controller="Bus" asp-action="SortPassengersBySurnameNP">
                    Упорядочивание пассажиров по фамилиям
                </a>
                <a class="btn btn-primary" asp-controller="Bus" asp-action="AddPassenger">
                    Добавить пассажира
                </a>
                <a class="btn btn-primary" asp-controller="Bus" asp-action="EditBus">
                    Редактировать автобус
                </a>
            </div>
            <br />
            <br />
            <h3 class="text-center text-dark">Данные автобуса</h3>
            <br />
            @await Component.InvokeAsync(nameof(BusData))
        </article>
    </section>
</main>