@{
    ViewData["Title"] = "Домашняя страница";
}

<main class="container">
    <section class="row">
        <article class="offset-1 col-10 bg-light">
            <p class="text-justify">
                Создать приложение ASP.NET Core MVC из главной и вспомогательной страниц.
                На главной разместить формулировки задач и ссылки для перехода к страницам решения задач.
                На вспомогательных страницах разместите решения задач.
            </p>
            <p class="text-justify">
                Стилизацию приложения выполняйте при помощи Bootstrap 4.x,
                размещайте файлы стилей в папке <b>wwwroot</b> или пользуйтесь CDN.
            </p>
            <p class="text-justify">
                <b>Задача 1.</b> 
                В текстовом файле (формат JSON) на сервере необходимо хранить информацию о междугороднем автобусе
                (гос. номер, маршрут, фамилия и инициалы водителя, количество мест, стоимость билета)
                и его пассажирах (фамилия и инициалы, год рождения, рост в сантиметрах, вес в килограммах, номер места).
                Использовать зарегистрированный репозиторий для получения данных.
            </p>
            <p class="text-justify">
                Реализовать следующие обработки 
                (каждая на отдельной странице, список пассажиров, блок статистики реализовать компонентами):
            </p>
            <ul>
                <li>
                    Вывести данные автобуса и список пассажиров по номеру места, выводить также блок статистики
                </li>
                <li>
                    Вывести данные автобуса и список пассажиров в алфавитном порядке, выводить также блок статистики
                </li>
                <li>
                    Редактировать данные автобуса (отдельная страница
                </li>
                <li>
                    Добавить пассажира в автобус (форма на отдельной странице)
                </li>
                <li>
                    Редактировать данные пассажира автобуса (та же страница, что и добавление пассажира)
                </li>
                <li>
                    Удалить пассажира из автобуса
                </li>
                <li>
                    В блоке статистики выводить: суммарный вес пассажиров автобуса, 
                    количество пассажиров, процент заполненности автобуса, сумму за проезд пассажиров.
                </li>
            </ul>
            <p class="text-justify">
                Выводить статистику на всех страницах приложения. 
                Реализовать валидацию форм ввода на стороне клиента и сервера. 
                Реализовать глобальный фильтр исключений. 
                При выводе выделять пассажиров с максимальным весом при помощи атрибута – вспомогательного дескрипторного класса.
                Используйте сокращающие тэги при построении форм в приложении.
            </p>
        </article>
    </section>
</main>
